header{
    display: flex;
    left: 0;
    background-color:rgba(128, 128, 128, 0.89);
    height: 8vh;
    align-items: center;
    justify-content: space-between;
  }
  
  body{
    left: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  
  #img-logo{
    display: flex;
    width: 100px;
    height: auto;
    margin-left: 2%;
    float: left;
    margin-top: 0.5%;
  }
  
  .principal{
    background-color: rgba(199, 191, 191, 0);
  }
  
  .links{
    display: flex;
    text-align: center;
    justify-content: center;
    float: center;
  }
  /* Depreciado/Não-usado/Descartar
  .search-bar{
    display: flexbox;
    position: relative;
    float: right;
    margin-right: 2%;
    align-items: right;
    right: -25%; /*Atenção: Essa é uma solução gambiarra forçando a barra ficar a -25% da margem direita. Acho que não será portável para telas de tamanho diferente (minha tela tem 15 polegadas, se não me engano). Fazer direito assim que possível, por favor.
  }
  */

  .teste{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(212, 208, 208);
    padding-bottom: 5vh;
  }

  .teste h1{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 2.5em;
    text-align: center;
  }

  .lancamentos{
    display: flex;
    justify-content: center;
  }

  /*as partes com @ sao testes para tentativas de deixar responsivo, mas não é necessário*/
  @media (max-width: 768px){
    .lancamentos{
      flex-direction: column;
      align-items: center;
    }
    .sinopse h3{
      text-align: center;
      font-size: x-large;
    }
  }

  @media (max-width: 320px){
    iframe{
      width: 100%;
    }
  }

  .sinopse{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
  }

  .sinopse h3{
    margin-bottom: 2%;
    font-size: 2em;
  }

  .sinopse span{
    font-weight: bold;
  }

  .informacoes{
    display: flex;
    justify-content: space-between;
  }
  
  #titulo-lancamento{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #titulo-nome-filme{
    display: flex;
    align-items: right;
    justify-content: right;
  }
  
  .search-box{
    display: flex;
    float: right;
    margin-right: 2%;
    margin-top: -0.5%;
    border: 1px solid black;
  }
  
  .search-text{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    align-items: center;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  
  #lupa{
    display: flex;
    float: left;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin: 50%;
  }
  
  .erase-text-search{
    text-align: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin: -5%;
    margin-top: -2%;
  }
   /*parte q fiz do destaque*/
    .div-em-destaque{/*apagar isso depois*/
      background-color: rgb(245, 175, 90);
    }
  #dest{/*titulos dos destaques*/
      position: absolute;
      left: 17.5%;
      font-size: 220%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #caixa{ /*caixa seletora dos destaques*/
      position: relative;
      height: 25px;
      margin-top: 30px;
      left:72.5%;
      border-radius: 5px;
  }
  .destaque{/*filmes*/
      display:inline;
      margin-left:30px;
      margin-right:30px;
      top:30px;
      position: relative;
      left:15%;
  }
  #tab2{/*tabela dos filmes*/
      position: relative;
      width: 100%;
      margin-bottom : .5em;
      table-layout: fixed;
   
  
  }
  #botao{/*botao*/
  position: relative;
  left:71%;
  font-size: 25px;
  color: aquamarine;
  font: bold 12px/24px arial, helvetica, sans-aerif;	
  padding:0px;
  text-decoration: none;
  text-align:center;	
  color:#ccc;
  background: rgb(28, 27, 27);	
  width:150px;  
  height:24px;
  margin-top: 50px;
  
  margin-bottom: 20px;
  
  border-radius: 5px;
      }

  footer{
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.89);
  }