header{
  left: 0;
  background-color:grey;
}

body{
  display: flexbox;
  left: 2%;
}

.principal{
  background-color: grey;
}

.links{
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-bar{
  display: flex;
  align-items:right;
  justify-content: right;
  float: right;
}

.lancamentos{
  background-color:red;
}

#titulo-lancamento{
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo-nome-filme{
  display: flex;
  align-items: right;
  justify-content: right;
}

#titulo-em-destaque{
  display: flex;
  align-items: left;
  justify-content: left;
  float: left;
}

#seletor-categoria-em-destaque{
  display: flex;
  align-items: right;
  justify-content: right;
  align-self: right;
  text-align: right;
  position: right;
  float: right;
}

.div-em-destaque{
  display: flex;
  background-color: green;
}