header{
  left: 0;
  background-color:grey;
}

body{
  display: flexbox;
  left: 2%;
}

#img-logo{
  display: flex;
  width: 100px;
  height: auto;
  margin-left: 2%;
  float: left;
}

.principal{
  background-color: grey;
}

.links{
  display: flex;
  text-align: center;
  justify-content: center;
  float: center;
}

.search-bar{
  display: flex;
  position: relative;
  float: right;
  margin-right: 2%;
  align-items: right;
  right: -25%; /*Atenção: Essa é uma solução gambiarra forçando a barra ficar a -25% da margem direita. Acho que não será portável para telas de tamanho diferente (minha tela tem 15 polegadas, se não me engano). Fazer direito assim que possível, por favor.*/
}

.lancamentos{
  background-color:red;
}

#titulo-lancamento{
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo-nome-filme{
  display: flex;
  align-items: right;
  justify-content: right;
}

#titulo-em-destaque{
  display: flex;
  align-items: left;
  justify-content: left;
  float: left;
}

#seletor-categoria-em-destaque{
  display: flex;
  align-items: right;
  justify-content: right;
  align-self: right;
  text-align: right;
  position: right;
  float: right;
}

.div-em-destaque{
  display: flex;
  background-color: green;
}